{% extends 'base.html.twig' %}

{% block body %}

    <table>

        <tr>
            <td style="vertical-align: top;">
                <ul class="list-group">
                    <li class="list-group-item"><form action="{{ path('inicio') }}" method="post">
                            <input type="hidden" id="login" name="login" value="{{ usuario.idlogin.login }}">
                            <input type="hidden" id="senha" name="senha" value="{{ usuario.idlogin.senha }}">
                            <button style="width: 136px;"type="submit" class="btn btn-primary">Inicio</button></form></li>
                    <li class="list-group-item"><form action="{{ path('minha_conta') }}" method="post">
                            <input type="hidden" id="login" name="login" value="{{ usuario.idlogin.login }}">
                            <input type="hidden" id="senha" name="senha" value="{{ usuario.idlogin.senha }}">
                            <button style="width: 136px;"type="submit" class="btn btn-primary">Minha Conta</button></form></li>
                    <li class="list-group-item"><form action="{{ path('recarga_inicio') }}" method="post">
                            <input type="hidden" id="login" name="login" value="{{ usuario.idlogin.login }}">
                            <input type="hidden" id="senha" name="senha" value="{{ usuario.idlogin.senha }}">
                            <button style="width: 136px;"type="submit" class="btn btn-primary">Efetuar Recarga</button></form></li>
                    <li class="list-group-item active"><form action="{{ path('configuracao_inicio') }}" method="post">
                            <input type="hidden" id="login" name="login" value="{{ usuario.idlogin.login }}">
                            <input type="hidden" id="senha" name="senha" value="{{ usuario.idlogin.senha }}">
                            <button style="width: 136px;"type="submit" class="btn btn-primary">Configuração</button></form></li>
                </ul>
            </td>
            <td style="vertical-align: top;">
                <div class="card">
                    <h5 class="card-header" style="height: 63px;width: 373px;">Configuração de Login</h5>
                    <div class="card">
                        <div class="card-body">
                            <form method="post" name="formlogin" id="formlogin" action="{{ path('login_alterar') }}">
                                <input  type="hidden" id="idlogin" name="idlogin" value="{{ usuario.idlogin.id }}">
                                <h7><font color="red">{% if warninglogin %}
                                        {{ warninglogin|default("") }}
                                        {% endif %}</font></h7>
                                <h4 class="card-title">Login Antigo:<input type="text" class="form-control" id="loginvelho" name="loginvelho" aria-describedby="emailHelp" data-parsley-error-message="Campo Obrigatório" required> </h4>
                                <h5 class="card-title">Novo Login:<input type="text" class="form-control" id="novologin" name="novologin" aria-describedby="emailHelp" data-parsley-error-message="Campo Obrigatório" required> </h5>
                                <h5 class="card-title">Confirmar Nova Login:<input type="text" class="form-control" id="cnovologin" name="cnovologin" aria-describedby="emailHelp" data-parsley-error-message="Campo Obrigatório" required> </h5>

                                <h5 class="card-title">
                                    <input type="hidden" id="login" name="login" value="">
                                    <input type="hidden" id="senha" name="senha" value="">
                                    <button name="btlogin" id="btlogin" type="button" class="btn btn-primary">Alterar Login</button></h5>
                            </form>
                        </div>
                    </div>
                </div>

            </td>

            <td style="vertical-align: top;">
                <div class="card">
                    <h5 class="card-header" style="height: 63px;width: 373px;">Configuração de Senha</h5>
                    <div class="card">
                        <div class="card-body">
                            <form name="formsenha" id="formsenha" method="post" action="{{ path('senha_alterar') }}">
                                <input type="hidden" id="idlogin" name="idlogin" value="{{ usuario.idlogin.id }}">
                                <h7><font color="red">{% if warningsenha %}
                                            {{ warningsenha|default("") }}
                                        {% endif %}</font></h7>
                                <h4 class="card-title">Senha Antiga:</h4><input type="password" class="form-control" id="senhavelha" name="senhavelha" aria-describedby="emailHelp" placeholder="" data-parsley-error-message="Campo Obrigatório" required>
                                <h5 class="card-title">Nova Senha:</h5><input type="password" class="form-control" id="novasenha" name="novasenha" aria-describedby="emailHelp" placeholder="" data-parsley-error-message="Campo Obrigatório" required> </h5>
                                <h5 class="card-title">Confirmar Nova Senha:</h5><input type="password" class="form-control" id="cnovasenha" name="cnovasenha" aria-describedby="emailHelp" placeholder="" data-parsley-error-message="Campo Obrigatório" required> </h5>

                                <h5 class="card-title">
                                    <input type="hidden" id="login" name="login" value="{{ usuario.idlogin.login }}">
                                    <input type="hidden" id="senha" name="senha" value="{{ usuario.idlogin.senha }}">
                                    <button name="btnsenha" id="btnsenha" type="button" class="btn btn-primary">Alterar Senha</button></h5>
                            </form>
                        </div>
                    </div>
                </div>

            </td>
            <td style="vertical-align: top;">
                <div class="card">
                    <h5 class="card-header" style="height: 63px;width: 373px;">Notificações</h5>

                    {% if notificacoes %}
                        {% for notificacao in notificacoes %}
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">{{ notificacao.titulo }}</h4>
                                    <p class="card-text">{{ notificacao.descricao }}</p>
                                    <p class="card-text"><a href="{{ path('ler_notificacao',{'id':notificacao.id}) }}">Lido!</a></p>

                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="card">
                            <div class="card-body">

                                <p class="card-text">Parece que você não possui nenhuma notificação</p>

                            </div>
                        </div>
                    {% endif %}


                </div>
            </td>
        </tr>
    </table>


{% endblock %}

{% block javascripts %}
    {% javascripts
        '@UsuarioBundle/Resources/public/js/Configuracao/configuracao.js'
        '@UsuarioBundle/Resources/public/js/bootbox.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}
{% endblock %}