{% extends 'base.html.twig' %}

{% block body %}

    <table>

        <tr>
            <td style="vertical-align: top;">
                <ul class="list-group">
                    <li class="list-group-item active"><form action="{{ path('inicio') }}" method="post">
                            <input type="hidden" id="login" name="login" value="{{ usuario.idlogin.login }}">
                            <input type="hidden" id="senha" name="senha" value="{{ usuario.idlogin.senha }}">
                            <button style="width: 136px;"type="submit" class="btn btn-primary">Inicio</button></form></li>
                    <li class="list-group-item"><form action="{{ path('inicio') }}" method="post">
                            <input type="hidden" id="login" name="login" value="{{ usuario.idlogin.login }}">
                            <input type="hidden" id="senha" name="senha" value="{{ usuario.idlogin.senha }}">
                            <button style="width: 136px;"type="submit" class="btn btn-primary">Minha Conta</button></form></li>
                    <li class="list-group-item"><form action="{{ path('recarga_inicio') }}" method="post">
                            <input type="hidden" id="login" name="login" value="{{ usuario.idlogin.login }}">
                            <input type="hidden" id="senha" name="senha" value="{{ usuario.idlogin.senha }}">
                            <button style="width: 136px;"type="submit" class="btn btn-primary">Efetuar Recarga</button></form></li>
                    <li class="list-group-item"><form action="{{ path('configuracao_inicio') }}" method="post">
                            <input type="hidden" id="login" name="login" value="{{ usuario.idlogin.login }}">
                            <input type="hidden" id="senha" name="senha" value="{{ usuario.idlogin.senha }}">
                            <button style="width: 136px;"type="submit" class="btn btn-primary">Configuração</button></form></li>
                </ul>
            </td>

            <td style="vertical-align: top;">
                <div class="card">
                    <h5 class="card-header" style="height: 63px;">Minhas Informações</h5>
                    <div class="card-body">
                        <h5 class="card-title">Nome: {{ usuario.nome }} {{usuario.sobrenome}}</h5>
                        <p class="card-text">Data Nascimento: {{ usuario.dtnascimento }}</p>
                        <p class="card-text">Sexo: {{ usuario.sexo }}</p>
                        <p class="card-text">CPF: {{ usuario.cpf }}</p>
                        <p class="card-text">CEP: {{ usuario.cep.cep }}</p>
                        <p class="card-text">Celular: {{ usuario.celular }} Telefone: {{ usuario.telefone }} </p>
                        <form method="post" action="{{ path('editar_informacao') }}"><input type="hidden" id="usuario" name="usuario" value="{{ usuario.idusuario }}"><button class="btn btn-primary">Editar Informações</button></form>
                    </div>
                </div>

            </td>

            <td style="vertical-align: top;">
                <div class="card">
                    <h5 class="card-header" style="height: 63px;width: 373px;">Meus Cartões</h5>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><form action="{{ path('cartao_novo') }}" method="post">
                                    <input type="hidden" id="login" name="login" value="{{ usuario.idlogin.login }}">
                                    <input type="hidden" id="senha" name="senha" value="{{ usuario.idlogin.senha }}">
                                    <button type="submit"   class="btn btn-primary">Novo Cartão</button></form></h4>

                        </div>
                    </div>
                    {% for cartao in cartoes %}
                        {% if cartao.status != "Cancelado" %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Cartão: {{ cartao.numeroCartao }}</h4>
                            <h5 class="card-title">Titular: {{ cartao.titular }}</h5>
                            <p class="card-text">Validade: {{ cartao.validade }}</p>
                            <p class="card-text">Status: {{ cartao.status }}</p>

                            {% if cartao.status == "Solicitado - Aguardando Envio" %}
                            <p class="card-text"><a id="chegou" href="#" name="chegou" data-id="{{ cartao.numeroCartao }}">Chegou!</a>        <a href="#" name="cancelar" id="cancelar" data-id="{{ cartao.numeroCartao }}" style="padding-left: 150px;">Cancelar Cartão</a></p>
                            {% endif %}

                            {% if cartao.status == "Ativo" %}
                                <p class="card-text"><a href="#" data-id="{{ cartao.numeroCartao }}">Ver Saldo!</a>        <a href="#" name="bloquear" id="bloquear" data-id="{{ cartao.numeroCartao }}" style="padding-left: 150px;">Bloquear Cartão</a></p>
                            {% endif %}

                            {% if cartao.status == "Inativo" %}
                                <p class="card-text"><a id="ativar" href="#" name="ativar" data-id="{{ cartao.numeroCartao }}">Ativar Cartão!</a>        <a href="#" name="cancelar" id="cancelar" data-id="{{ cartao.numeroCartao }}" style="padding-left: 150px;">Cancelar Cartão</a></p>
                            {% endif %}



                        </div>
                    </div>
                        {% endif %}
                    {% endfor %}
                    
                </div>
            </td>
            <td style="vertical-align: top;">
                <div class="card">
                    <h5 class="card-header" style="height: 63px;width: 373px;">Notificações</h5>

                        <div class="card">
                            <div class="card-body">

                                <p class="card-text">Parece que você não possui nenhuma notificação</p>

                            </div>
                        </div>


                </div>
            </td>
        </tr>
    </table>


{% endblock %}

{% block javascripts %}
    {% javascripts
        '@UsuarioBundle/Resources/public/js/Homepage/homepage.js'
        '@UsuarioBundle/Resources/public/js/bootbox.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}
{% endblock %}