{% extends 'base.html.twig' %}

{% block body %}

    <table>

        <tr>
            <td style="vertical-align: top;">
                <ul class="list-group">
                    <li class="list-group-item "><form action="{{ path('inicio') }}" method="post">
                            <input type="hidden" id="login" name="login" value="{{ usuario.idlogin.login }}">
                            <input type="hidden" id="senha" name="senha" value="{{ usuario.idlogin.senha }}">
                            <button style="width: 136px;"type="submit" class="btn btn-primary">Minha Conta</button></form></li>
                    <li class="list-group-item active" ><form action="{{ path('recarga_inicio') }}" method="post">
                            <input type="hidden" id="login" name="login" value="{{ usuario.idlogin.login }}">
                            <input type="hidden" id="senha" name="senha" value="{{ usuario.idlogin.senha }}">
                            <button style="width: 136px;"type="submit" class="btn btn-primary">Efetuar Recarga</button></form></li>
                    <li class="list-group-item "><form action="{{ path('configuracao_inicio') }}" method="post">
                            <input type="hidden" id="login" name="login" value="{{ usuario.idlogin.login }}">
                            <input type="hidden" id="senha" name="senha" value="{{ usuario.idlogin.senha }}">
                            <button style="width: 136px;"type="submit" class="btn btn-primary">Configuração</button></form></li>
                </ul>
            </td>
            <td style="vertical-align: top;">
                <div class="card">
                    <h5 class="card-header" style="height: 63px;width: 373px;">1º Passo</h5>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                <input id="id" name="id" type="hidden" value="{{ pedido.idpedido|default("") }}">
                                Escolha um Cartão:
                                <select class="form-control form-control-lg" name="cartoes" id="cartoes" required>
                                    <option value="">Selecione um cartão</option>
                                    {% for cartao in cartoes %}
                                        <option value="{{ cartao.numeroCartao }}">{{ cartao.numeroCartao }}</option>
                                    {% endfor %}
                                </select>

                            </h4>
                            <h4 class="card-title">Qual o valor da recarga?
                                <input type="text" class="form-control" id="valor" name="valor" placeholder="Valor R$" required><br>
                                <button class="btn btn-primary" id="add" name="add">Adicionar Item</button>
                            </h4>

                        </div>
                    </div>
                </div>

            </td>

            <td style="vertical-align: top;">
                <div class="card">
                    <h5 class="card-header" style="height: 63px;width: 373px;">Itens do seu carrinho!</h5>
                    <div class="card">
                        <br><br>
                        <table id="tabelapedido" name="tabelapedido">

                            <tr><td><b>Cartão</b></td><td><b>Valor</b></td><td><b>Ação</b></td></tr>


                                {% for itenpedido in itenspedido1 %}
                                    <tr><td>{{ itenpedido.cartaousuario.numerocartao }}</td><td>{{ itenpedido.valor }}</td><td><a href="#">Remover</a></td></tr>

                                {% endfor %}



                        </table>

                    </div>
                </div>

            </td>
            <td style="vertical-align: top;">
                <div class="card">
                    <h5 class="card-header" style="height: 63px;width: 373px;">Notificações</h5>

                        <div class="card">
                            <div class="card-body">

                                <p class="card-text">Parece que você não possui nenhuma notificação</p>

                            </div>
                        </div>


                </div>
            </td>
        </tr>
    </table>


{% endblock %}

{% block javascripts %}
    {% javascripts
        '@UsuarioBundle/Resources/public/js/Recarga/configuracao.js'
        '@UsuarioBundle/Resources/public/js/bootbox.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}
{% endblock %}